{{define "base"}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lang Org</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/styles.css"> -->
    <style>
      
      .textcol{
        background-color: burlywood;
      }
      .dark{
        background-color: #d8d6e4;
      }
      body{
        background-color: #e0d0d0;
        color:#2e2b3e;
      }
      .my-footer{
        background-color: #1c1a27;
        margin-top: 1.5em;
        height: 4em;
        padding: 3em;
        font-size: 80%;
        color: #d8d1d1;
      }
      .notie-container{
        box-shadow: black;
      }

      .okaaaa{
        background-color: #2e2b3e;
        height: 20em;
        color:#becfe9;
      }

      .frame {
        width: 90%;
        margin: 40px auto;
        text-align: center;
      }
      button {
        margin: 20px;
      }
      .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
      }

      /* 5 */
      .btn-5 {
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        background: rgb(255,27,0);
      background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
      }
      .btn-5:hover {
        color: #f0094a;
        background: transparent;
        box-shadow:none;
      }
      .btn-5:before,
      .btn-5:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #f0094a;
        box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
        transition:400ms ease all;
      }
      .btn-5:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      .btn-5:hover:before,
      .btn-5:hover:after{
        width:100%;
        transition:800ms ease all;
      }
      .wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}
      .typing-demo {
        width: 22ch;
        animation: typing 2s steps(19), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 2em;
      }
    </style>
  </head>
  <body class="body">


    <nav class="navbar navbar-expand navbar-dark" style="background-color: #2e2b3e;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/downloads" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Downloads
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/laptop">Laptop</a></li>
                <li><a class="dropdown-item" href="/phone">Phone</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/pc">PC</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/docs" tabindex="-1" aria-disabled="false">Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/donate" tabindex="-1" aria-disabled="false">Donate</a>
            </li>

            <a class="navbar-brand"></a>
          </ul>
          {{if eq .IsAuthenticated 1}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/admin/dashboard">Admin Dashboard</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                </ul>
              </li>
              <a href="/user/logout" class="btn btn-outline-secondary" role="button" >Logout</a>
          {{else}}
          <a href="/user/login" class="btn btn-outline-secondary" role="button" >Login to view your details</a>
          {{end}}
        </div>
      </div>
    </nav>
        
        {{block "content" .}}

        {{end}}
        
        <br>

        <hr>
              <footer class="my-footer">
                <div class="row">
                    <div class="col text-center">
                        @2021 LangOrg , Inc
                    </div>
        
                    <!-- <div class="col text-center">
                      <a href="/terms">Terms</a>
                    </div>
        
                    <div class="col text-center">
                      <a href="/privacy">Privacy</a>
                    </div>

                    <div class="col text-center">
                      <a href="/security">Security</a>
                    </div> -->

                    <div class="col text-center">
                      <a href="/docs">Docs</a>
                    </div>

                    <div class="col text-center">
                      <a href="/contact">Contact LangOrg</a>
                    </div>

                    <!-- <div class="col text-center">
                      <a href="/api">Api</a>
                    </div>

                    <div class="col text-center">
                      <a href="/training">Training</a>
                    </div> -->

                    <!-- <div class="col text-center">
                      <a href="/blog">Blog</a>
                    </div> -->

                    <div class="col text-center">
                      <a href="/about">About</a>
                    </div>
                </div>
              </footer>
      
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
          <!-- <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/js/datepicker-full.min.js"></script> -->
          <script src="https://unpkg.com/notie"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
          <!-- <script src="sweetalert2/dist/sweetalert2.min.js"></script> -->
        {{block "js" .}}
        
        {{end}}
      
      
       
      
          <script>
      
      
          let attention = Promt(); 
      
          
          (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
      
          
      
          function notify(msg,msgType){
            notie.alert({
              type: msgType,
              text: msg,
            })
          }
      
          function notifyModal(title, text ,icon, confirmationButtonText){
              Swal.fire({
                  title: title,
                  html: text,
                  icon: icon,
                  confirmButtonText: confirmationButtonText,
                  
              })
          }

          {{with .Error}}
          notify("{{.}}","error")
          {{end}}

          {{with .FlashMessage}}
          notify("{{.}}","success")
          {{end}}

          {{with .Warning}}
          notify("{{.}}","warning")
          {{end}}

          function Promt(){
            let toast=function(c){
              const{
                msg="",
                icon="success",
                position="top-end",
              }=c;
      
              const Toast = Swal.mixin({
                toast: true,
                title:msg,
                position: position,
                icon:icon,
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              })
      
              Toast.fire({});
            }
      
            let success=function(c){
              const{
                msg="",
                title="",
                footer="",
              }=c;
      
              Swal.fire({
                icon: 'success',
                title: title,
                text: msg,
                footer: footer,
              })
            }
      
            let error=function(c){
              const{
                msg="",
                title="",
                footer="",
              }=c;
      
              Swal.fire({
                icon: 'error',
                title: title,
                text: msg,
                footer: footer,
              })
            }
      
            async function custom(c){
              const{
                msg="",
                title="",
              }=c;
      
              const { value: result } = await Swal.fire({
                title: title,
                html:msg,
                backdrop:false,
                focusConfirm: false,
                showCancelButton: true,
                background:'#2e2b3e',
                cancelButtonColor: '#d33',
                // willOpen:() => {
                //   const elem = document.getElementById('registration-modal')
                // },
                preConfirm: () => {
                        return [
                            document.getElementById('first-name').value,
                            document.getElementById('last-name').value
                        ]
                    }
              })
      
              if (result){
                if (result.dismiss !== Swal.DismissReason.cancel){
                  if (result.value !== ""){
                    if (c.callback !== undefined){
                      c.callback(result);
                    }
                  }else{
                    c.callback(false);
                  }
                }else{
                  c.callback(false);
                }
              }
            }
      
            return {
              toast: toast,
              success:success,
              error:error,
              custom:custom,
            }
          }
          
          </script>
      
        </body>
      </html>
      
{{end}}