{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Downloads</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptate dolorem earum mollitia eius ea similique velit delectus vitae blanditiis ullam debitis soluta eaque cumque dolorum, voluptas odit tempore? Tempore?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta officiis amet at. Eveniet ullam illo impedit, laborum magnam fugiat maxime facilis alias, optio placeat asperiores, corporis libero molestiae. Mollitia, eos!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci autem obcaecati. A quod rem tempora, debitis quae dignissimos recusandae error excepturi repudiandae culpa incidunt totam eius. Expedita, dolor ducimus!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card text-white mb-3" style="max-height: 100 em; background-color: #2e2b3e; border-radius: 5%; box-shadow: 7px 9px 15px 0px black;">
            <img src="../static/images/laptop.png" class="card-img-top" style="height: 354px;" alt="laptop img">
            
            <div class="card-body">
                <hr>
              <h5 class="card-title">Laptop Download</h5>
              <p class="card-text">Click the button below to downoad for Laptop.</p>
              <a href="/laptop" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-white mb-3" style="background-color: #2e2b3e; border-radius: 5%; box-shadow: 7px 9px 15px 0px black;" >
            <img src="../static/images/pc.png" class="card-img-top" style="height: 354px;" alt="pc img">
            <div class="card-body">
                <hr>
              <h5 class="card-title">PC Download</h5>
              <p class="card-text">Click the button below to download for Pc.</p>
              <a href="/pc" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white mb-3" style="background-color: #2e2b3e; border-radius: 5%; box-shadow: 7px 9px 15px 0px black;">
              <img src="../static/images/phone.png" class="card-img-top" style="height: 354px; width: 250px;" alt="phone img">  
              <div class="card-body">
                <hr>
                <h5 class="card-title">Phone Download</h5>
                <p class="card-text">Click the button below to download for Phone.</p>
                <a href="/phone" class="btn btn-primary">Download</a>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptate dolorem earum mollitia eius ea similique velit delectus vitae blanditiis ullam debitis soluta eaque cumque dolorum, voluptas odit tempore? Tempore?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta officiis amet at. Eveniet ullam illo impedit, laborum magnam fugiat maxime facilis alias, optio placeat asperiores, corporis libero molestiae. Mollitia, eos!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci autem obcaecati. A quod rem tempora, debitis quae dignissimos recusandae error excepturi repudiandae culpa incidunt totam eius. Expedita, dolor ducimus!</p>
        </div>
    </div>
</div>

{{end}}