{{template "base" .}}

{{define "content"}}

<div class="container">



    <div class="row">

      <div class="col">
        <h1>This is the login page</h1>

      </div>
    </div>
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">


        <form action="/login" method="POST">
            

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">Enter email</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required>
          </div>

          <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-outline-danger" href="./register.html">Not registered? click here</a>
          </div>
          <input type="text" name="csrf_token" value="{{.CSRFToken}}">
        </form>
      </div>

    </div>



  </div>

{{end}}