{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>We believe in OPEN SOURCE</h1>


      

        
 <thead>
    <tr>
     <th><a href="">Name</a></th>
     <th><a href="">Size</a></th>
     <th colspan="2"><a href="">Last Modified</a></th>
    </tr>
   </thead>
   <tbody>
  <tr class="hidden-object">
   <td sortable-data="2.gitignore"><table class="ellipsis"><tbody><tr><td><a class="file" href=".gitignore"><img src="moz-icon://.gitignore?size=16" alt="File:">.gitignore</a></td></tr></tbody></table></td>
   <td sortable-data="39">1 KB</td>
   <td sortable-data="1623145939000000">6/8/21</td>
   <td>15:22:19 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="1cmd"><table class="ellipsis"><tbody><tr><td><a class="dir" href="cmd/">cmd</a></td></tr></tbody></table></td>
   <td></td>
   <td sortable-data="1620766398000000">5/12/21</td>
   <td>02:23:18 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="1email-templates"><table class="ellipsis"><tbody><tr><td><a class="dir" href="email-templates/">email-templates</a></td></tr></tbody></table></td>
   <td></td>
   <td sortable-data="1623145939000000">6/8/21</td>
   <td>15:22:19 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="2go.mod"><table class="ellipsis"><tbody><tr><td><a class="file" href="go.mod"><img src="moz-icon://.mod?size=16" alt="File:">go.mod</a></td></tr></tbody></table></td>
   <td sortable-data="1631">2 KB</td>
   <td sortable-data="1623145939000000">6/8/21</td>
   <td>15:22:19 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="2go.sum"><table class="ellipsis"><tbody><tr><td><a class="file" href="go.sum"><img src="moz-icon://.sum?size=16" alt="File:">go.sum</a></td></tr></tbody></table></td>
   <td sortable-data="54157">53 KB</td>
   <td sortable-data="1623145939000000">6/8/21</td>
   <td>15:22:19 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="1internal"><table class="ellipsis"><tbody><tr><td><a class="dir" href="internal/">internal</a></td></tr></tbody></table></td>
   <td></td>
   <td sortable-data="1623145939000000">6/8/21</td>
   <td>15:22:19 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="1migrations"><table class="ellipsis"><tbody><tr><td><a class="dir" href="migrations/">migrations</a></td></tr></tbody></table></td>
   <td></td>
   <td sortable-data="1632506092000000">9/24/21</td>
   <td>23:24:52 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="1pkg"><table class="ellipsis"><tbody><tr><td><a class="dir" href="pkg/">pkg</a></td></tr></tbody></table></td>
   <td></td>
   <td sortable-data="1623145960000000">6/8/21</td>
   <td>15:22:40 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="2readme.md"><table class="ellipsis"><tbody><tr><td><a class="file" href="readme.md"><img src="moz-icon://.md?size=16" alt="File:">readme.md</a></td></tr></tbody></table></td>
   <td sortable-data="289">1 KB</td>
   <td sortable-data="1623145939000000">6/8/21</td>
   <td>15:22:19 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="1static"><table class="ellipsis"><tbody><tr><td><a class="dir" href="static/">static</a></td></tr></tbody></table></td>
   <td></td>
   <td sortable-data="1623406622000000">6/11/21</td>
   <td>15:47:02 GMT+5:30</td>
  </tr><tr>
   <td sortable-data="1templates"><table class="ellipsis"><tbody><tr><td><a class="dir" href="templates/">templates</a></td></tr></tbody></table></td>
   <td></td>
   <td sortable-data="1632503818000000">9/24/21</td>
   <td>22:46:58 GMT+5:30</td>
  </tr></tbody>
    
            
        </div>
    </div>
</div>

{{end}}