{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>We believe in OPEN SOURCE</h1>
            <a href="https://github.com/solow-crypt/sitesource">Click here to get the github code</a>
        </div>
    </div>
</div>

{{end}}